logging:
  level:
    blog: WARN
    org: WARN
    org.hibernate.SQL: DEBUG
server:
  port: 8000
spring:
  datasource:
    username: rayan
    password: password
#    url: jdbc:sqlserver://localhost\SQLEXPRESS:1433;databaseName=SpringTest;integratedSecurity=false;trustServerCertificate=true;
    url: jdbc:postgresql://localhost:5432/IntelliTestSpring

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        format_sql: false
        show_sql: false
  sql:
    init:
      platform: postgres
      mode: always