<!--<head th:fragment="head">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>IntelliTest</title>-->
<!--    <meta name="viewport">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{css/}"/>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="../../static/css/index.css"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="../../static/css/sideSearch.css"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="../../static/css/edit.css"/>&ndash;&gt;-->
<!--    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">-->
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>-->
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/0.4.0/chartjs-plugin-datalabels.min.js"></script>-->
<!--</head>-->

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>IntelliTest</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>